.section-title {
text-align: center;
font-size: 2.2rem;
margin-bottom: 2.5rem;
}


.menu {
padding: 6rem 2rem;
background: #fff;
}


.menu-grid {
max-width: 1100px;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 2rem;
}


.menu-card {
background: var(--light);
border-radius: 15px;
overflow: hidden;
text-align: center;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.menu-card img {
width: 100%;
height: 200px;
object-fit: cover;
}


.menu-card h3 {
margin: 1rem 0 0.3rem;
}


.menu-card span {
display: block;
margin: 0.8rem 0 1.5rem;
font-weight: bold;
color: var(--primary);
}