:root {
--primary: #C75B39; /* Warm Orange */
--dark: #2F2F2F; /* Charcoal */
--light: #F4E1D2; /* Cream */
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}
.App {
background: var(--light);
color: var(--dark);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
