.navbar {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2.5rem;
background: rgba(47, 47, 47, 0.9);
}


.logo {
color: #fff;
font-size: 1.6rem;
font-weight: 600;
}


.nav-links {
list-style: none;
display: flex;
gap: 1.5rem;
}


.nav-links a {
color: #fff;
text-decoration: none;
font-weight: 500;
}