.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
background: #C75B39;
color: #fff;
position: sticky;
top: 0;
}


.logo {
font-size: 1.5rem;
}


.nav-links {
list-style: none;
display: flex;
gap: 1.5rem;
}


.nav-links a {
color: #fff;
text-decoration: none;
}